* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction:  column;
    background: linear-gradient(#121212, #212ba6);
}

.title{
    font-size: 90px;
    color: #fff;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from{
       transform: rotatex(90deg);
    }
    to{
        transform: rotatex(0deg);
    }
}
